@import url("https://fonts.cdnfonts.com/css/pretendo");

body {
  background-image: url("https://i.pinimg.com/originals/a7/09/4b/a7094b7aa6fbdc481dead9499c0c30c3.jpg");
}

hr {
  width: 40%;
  height: 0.003cm;
  margin-left: 5px;
  margin-right: 5px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout-game {
  width: 350px;
  height: 500px;
  border: solid 5px black;
  border-radius: 2% 2% 18% 2%;
  background-color: antiquewhite;
  box-shadow: inset 0 -3em 3em rgba(227, 223, 117, 0.3), 0 0 0 2px rgb(9, 8, 8),
    0.5em 0.5em 1em rgba(112, 109, 109, 0.6);
}

.title-container {
  display: flex;
  flex-direction: row;
}

.screen-containter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-layout {
  width: 300px;
  height: 200px;
  border: solid 5px black;
  border-radius: 2% 2% 20% 2%;
  margin: 3%;
  background-color: grey;
}

.screen-show {
  width: 260px;
  height: 155px;
  border: solid 5px black;
  border-radius: 2%;
  margin-left: 5%;
  margin-top: 0%;
  margin-right: 10%;
  /*background-image: url("https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e");*/
  background-color: lightgreen;
  background-size: 100% 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.battery-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 3px;
}

.battery-point {
  width: 3px;
  height: 15px;
  border: solid rgb(0, 0, 0);
  background-color: black;
  border-radius: 100%;
  margin-top: 120%;
  margin-left: 5%;
}

.image {
  size-adjust: auto;
  width: auto;
  height: auto;
}

.texto {
  text-align: center;
  font-size: 5px;
  margin-top: 1%;
  color: white;
}

.texto2 {
  text-align: justify;
  margin-left: 15px;
  font-size: 15px;
  font-style: italic;
  font-family: "pretendo", sans-serif;
  margin-top: 1%;
  color: #122ca2;
}

.texto3 {
  text-align: center;
  font-weight: bolder;
  font-family: "pretendo", sans-serif;
  color: #122ca2;
}

.texto3-1 {
  text-align: center;
  font-weight: bolder;
  font-family: "pretendo", sans-serif;
  color: #122ca2;
  font-size: 5px;
}

.texto4 {
  text-align: left;
  font-size: 8px;
  margin-top: 1%;
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.container-action {
  width: 100px;
  height: auto;
  background-color: lightgray;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  border-radius: 40%;
  transform: rotate(-30deg); /* Equal to rotateZ(45deg) */
}

.container-pad {
  width: 100px;
  height: 100px;
  margin: 5px;
  display: flex;
  margin-left: 2%;
  margin-top: 10%;
}

.container-select {
  width: 100px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
}

.button-b {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #74041e;
}

.button-a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #74041e;
}

.container-button-start {
  transform: rotate(-30deg);
  margin-top: 150%;
}

.container-button-select {
  transform: rotate(-30deg);
  margin-top: 150%;
}

.button-select {
  width: 30px;
  height: 10px;
  background-color: lightgray;
}

.button-start {
  width: 30px;
  height: 10px;
  background-color: lightgray;
}

.button-left {
  width: 30px;
  height: 20px;
  margin-top: 75%;
  background-color: black;
}
.button-right {
  width: 30px;
  height: 20px;
  margin-top: 75%;
  background-color: black;
}

.button-top {
  width: 25px;
  height: 33px;
  background-color: black;
}
.button-bottom {
  height: 33px;
  background-color: black;
}
.cruz {
  display: flex;
  flex-direction: column;
}

.screen-show-off {
  width: 260px;
  height: 155px;
  border: solid 5px black;
  border-radius: 2%;
  margin-left: 5%;
  margin-top: 0%;
  margin-right: 10%;
  /*background-image: url("https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e");*/
  background-color: black;
  background-size: 100% 100%;
}
