body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
  font-weight: bold;
}

.button {
  width: 40px;
  height: 40px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.button:hover {
  background-color: black;
  cursor: pointer;
  color: lightblue;
}

.button-cero {
  width: 90px;
  height: 40px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.button-cero:hover {
  background-color: black;
  cursor: pointer;
  color: lightblue;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.layout-calculator {
  border: solid;
  border-radius: 5px;
  border-color: black;
  padding: 5px;
}

.layout-screen {
  border: solid;
  border-radius: 5px;
  border-color: black;
  height: 40px;
  text-align: right;
  padding: 10px;
}

.list {
  border: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
